@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EjsU7_SG.Models.ViewModel.clsPersonaDepartamento


@Html.ActionLink("Lista de personas", "listadoPersonas", "Home")
@Html.ActionLink("Página Principal", "Index", "Home")

<!--Formulario-->
<div class="text-center">
    @using (Html.BeginForm("GuardarPersona", "EditarPersona", FormMethod.Post))
    {
        <input type="text" name="id" value="@Model.Id" hidden>
        <br />
        <br />
        <label>Nombre: </label>
        @Html.TextBoxFor(persona => persona.Nombre)
        <br />
        <br />
        <label>Apellidos: </label>
        @Html.TextBoxFor(persona => persona.Apellidos)
        <br />
        <br />
        <label for="departamentos">Departamento: </label>
        <select name="IdDepartamento">
            @{
                foreach (var departamento in Model.ListaDepartamentos)
                {
                    if (Model.IdDepartamento == departamento.IdDepartamento)
                    {
                        <option selected="@departamento.NombreDepartamento" value="@departamento.IdDepartamento">@departamento.NombreDepartamento</option>
                    }
                    else
                    {
                        <option value="@departamento.IdDepartamento">@departamento.NombreDepartamento</option>
                    }
                }
            }
        </select>
        <br />

        <br />
        <button type="submit">Guardar</button> 
    }
    
</div>

