@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@Html.ActionLink("Página principal", "index")

<h2>Listado de personas</h2>
<br />
<br />

@{
    var lista = @ViewBag.listaPersonas;
}
 
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
        </tr>
    </thead>
    @foreach (var persona in lista)
    {
        <tr>
            <td>@persona.Id</td>
            <td>@persona.Nombre</td>
            <td>@persona.Apellidos</td>
        </tr>
    }

</table>
